
/* Typical Device Breakpoints
  ----------------------------
  Pequenas telas: até  600px
  Celular: de 600px até 768
  Tablet: 768px até  992px
  Desktop : 992px até 1200px
  Grandes telas : acima de  1200px
*/


* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Sans-Serif, Helvetica;
}



 body {
   background: #E5E5E5;
 }
 
 
 
/*  .link-menu::after {
  content: "";
  width: 10px;
  height: 10px;
  background: red;
}
 */
 .imagem-logo {
   width: 40px;
 }
 
 .logo {
   font-size: 1.5rem;
   text-transform: uppercase;
   letter-spacing: 4px;
   color: #445964;
 }
 
 .nav-menu {
   
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-family: Arial, Sans-Serif, Helvetica;
   height: 12vh;
   overflow-x: hidden;
   
   background: #E5E5E5;
 }
 
 .nav-list {
   list-style: none;
   display: flex;

 } 
 
 .nav-list .li-menu {
   letter-spacing: 3px;
   margin-left: 2rem;
 }
 
 .mobile-menu {
   display: none;
   cursor: pointer;
 }
 
 .mobile-menu div {
    width: 2rem;
    height: 2px;
    background: #445964;
    margin: 0.5rem;
 }
 
 .link-menu {
   color: white;
   padding: 0.7rem;
   border-radius: 0.7rem;
   background-color: #4f7487;
   text-decoration: none;
   transition: 0.2s;
 }
 
 .link-menu:hover {
    text-decoration: underline;
    font-weight: bold;
    color: white;
 }
 
 /* Menu */

@media (max-width: 999px) {
body {
    overflow-x: hidden;
  }
  
  .nav-list {
    position: fixed;
    top: 13vh;
    right: 0;
    width: 0vw;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* transform: translateX(0%); */
    transition:  0.3s ease-in;
    background-color: #445964;
    border-radius: 0.7rem;
  } 
  
  
.nav-list li {
  margin-left: 0;
  opacity: 0;
}

.mobile-menu {
  display: block;
}
}


 .nav-list.active {
  width: 50vw;
 }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.primeiro-bloco {
  text-align: center;
  margin-top: 4rem;
}

.paragrafo-inicio {
   font-weight: bold;
   margin-top: 2rem;
   color: #445964;
}


.imagem-home-inicio {
      width: 13rem;
      height: 13rem;
      text-align: center;
     
    
 }


.h1-inicio {
   text-transform: uppercase;
   display: block;
   color: #445964;
   font-weight: 900;
}

.paragrafo2-inicio {
   color: #445964;
   font-weight: bold;
  margin-bottom: 19px;
}

.button-link-inicio {
  padding: 0.75rem;
  color: #FFFFFF;
  background-color: #323232;
  text-decoration: none;
  font-weight: bold;
  border-radius: 1.5rem;
}

.redes {
  padding: 2rem;
  text-decoration: none;
}

.redes-link-inicio {
  margin: 1rem;
  text-decoration: none;
}

.imagem-redes {
  width: 2rem;
  text-decoration: none;
}

.segundo-bloco {
  padding: 3rem;
  text-align: center;
  margin-top: 5rem;
  background: lightgray;
}


.my-photo {
  width: 7rem;
  border-radius: 1rem;
}

hr {
  border: none;
  height: 2px;
  background-color: #445964;
}


.span-h1 {
   animation: linkcurso 500ms steps(40) infinite normal ;
   color: #000000;
  
}

.title-my-name {
  animation: typing 4s steps(40) 1s normal both;
    white-space: nowrap;
    overflow: hidden;
    color: #445964;
  margin: auto;
  margin-top: 1rem;
}

@keyframes typing {
  from {
     width: 0;
  }
  
  to {
     width: 12em;
  }
  
}

@keyframes linkcurso{
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}

.paragraph-about-me {
  font-weight: bold;
  margin: 1rem;
  color: #445964;
}


.span-title-hardSkills {
  color: #445964;
}

.imagens-hardSkills {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.imagens-hardSkills > img {
  width: 5rem;
}

.third-block {
   margin-top: 5rem;
   margin-bottom: 2rem;
}

.projects-global {
  margin:  auto;
}

.titles-projects {
  display:flex;
  align-items: center;
  justify-content: center;
}

.title-of-projects {
  margin: 2rem;
 
  text-align: left;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #00000;
  font-weight: 900;
}

.span-title-of-projects {
  display: block;
  color: #445964;
}

.subtitle-of-projects {
  color:  #445964;
  font-weight: bold;
}


.projects {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.image-projects {
  width: 9.5rem;
}


.fourth-block {
  padding: 2rem;
  text-align: center;
  margin-top: 4rem;
  background: lightgray;
}

.my-techs {
  margin: auto;
}

.title-techs {
  font-weight: bold;
  font-weight: 900;
font-size: 1.5rem;
  text-transform: uppercase
}

.span-title-techs {
  color: #445964;
}

.paragraph-of-developing-technology {
  margin-top: 4rem;
  text-align: center;
}

.subtitle-of-pagragraph-fourth-block {
  font-weight: bold;
  display: block;
}

.icons-technology {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.icons-image-technology {
  margin-top: 2rem;
  width: 3rem;
}




footer {
  margin:  auto;
  padding: 2rem;
  background:  #E5E5E5;
}

.section-footer {
  text-align: center;
}