
@media (min-width: 992px) {
  
  * {
    margin: 0px;
    padding: 0px;
  }
  
.primeiro-bloco {
    color: #445964;
    display: flex;
    align-items:  center;
    margin-bottom: 4rem;
}
  
  .imagem-home-inicio {
    position: absolute;
    width: 19rem;
    height: 19rem;
    right: 0.7rem;
    /* z-index: 1; */
    right: 5rem;
  }
  
  .paragrafo-inicio {
       
       
  }
  
  .section-inicio {
    text-align: center;
    margin-left: 3rem;
  }
  
  .section-textos-inicio {
     text-align: center;
     display: block;
     font-size: 1rem;
  }
  
  .h1-inicio {
     font-size: 2rem;
     margin-left: 1rem;
  }
  
  
.paragrafo2-inicio {
   color: #445964;
   font-weight: bold;
  
}

.button-link-inicio {
    
    
}

.redes {
  
}

.segundo-bloco {
  margin: auto;
   margin-top: 2rem;
  width: 50%;
}

.my-photo {
 width: 10rem;  
}

.paragraph-about-me {
  text-align: justify;

} 


.imagens-hardSkills > img {
  width: 10rem;
}
}

