
@media (min-width: 992px) {
.primeiro-bloco {
    color: #445964;
    display: flex;
    align-items:  center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
  
  .imagem-home-inicio {
    position: fixed;
    width: 19rem;
    height: 19rem;
    right: 0.7rem;
    /* z-index: 1; */
    right: 4rem;
  }
  
  .paragrafo-inicio {
       margin-left: 100px;
       
  }
  
  .section-textos-inicio {
     display: block;
     font-size: 1rem;
     
  }
  
  .h1-inicio {
     margin-left: 100px;
     width: 80%;
     font-size: 2rem;
  }
  
  
.paragrafo2-inicio {
   color: #445964;
   font-weight: bold;
   margin-left: 4.5rem;
}

.button-link-inicio {
    margin-left: 4rem;
    
}

.redes {
  margin-left: 4rem;
}

.segundo-bloco {
  margin: auto;
   margin-top: 2rem;
  width: 50%;
}

.my-photo {
 width: 10rem;  
}

.paragraph-about-me {
  text-align: justify;

} 
}
