
@media (min-width: 992px) {
  
  ::-webkit-scrollbar-track {     background-color: #6c6c6c;  }  ::-webkit-scrollbar {     width: 12px;  }    ::-webkit-scrollbar-thumb {      background: #929192;        border-radius: 15px;    }
  
  * {
    margin: 0px;
    padding: 0px;
  }
    
  .first-block {
      color: #445964;
    display: flex;
    align-items:  center;
    margin-bottom: 4rem;
}
  
  .imagem-home-inicio {
    position: absolute;
    width: 19rem;
    height: 19rem;
    right: 1rem;
    /* z-index: 1; */
    right: 5rem;
  }

  .section-inicio {
    margin: auto;
    text-align: center;
    margin-left: 3rem;
  }
  
  .section-textos-inicio {
     text-align: center;
     display: block;
     font-size: 1rem;
  }
  
  .h1-inicio {
     font-size: 2rem;
     margin-left: 1rem;
  }
  
  
.paragrafo2-inicio {
   color: #445964;
   font-weight: bold;
  
}

.second-block {

   margin-top: 5rem;
  
}

.section-global-segundo-bloco {
    margin: auto;
  width: 50%;
}

.my-photo {
 width: 10rem;  
}

.paragraph-about-me {
  text-align: justify;

} 


.imagens-hardSkills > img {
  width: 10rem;
}

.title-of-projects {
    font-size: 2.5rem;
}

.subtitle-of-projects {
  font-size: 2rem;
}

.image-projects {
  width: 12rem;
}

.title-techs {
  font-size: 2.5rem;
}

.icons-image-technology {
  width: 4rem;
}
}

  